:root {
	--main-bgcolor: gray;
	--main-textcolor: black;
}
html {
	font-size: 10px;
}
body {
	text-align: center;
}

header {
	margin: 1rem;
	padding: 1rem;
	border: 3px solid var(--main-textcolor);
	background-color: var(--main-bgcolor);
}

h1 {
	font-size: 3rem;
}

.timer {

}

.display-container {
	font-size: 5rem;
	color: red;
}

.display {
	border: none;
	width: 15rem;
	font-size: 5rem;
	color: red;
	text-align: center;
}
