:root {
	--main-bgcolor: whitesmoke;
	--main-textcolor: black;
}
@font-face {
	font-family: "dseg";
	font-weight: normal;
	src: url(DSEG7Classic-BoldItalic.woff);
}
html {
	font-size: 20px;
}
body {
	text-align: center;
}

header {
	margin: 1rem 0.5rem;
	padding: 0.2rem;
	border: 3px solid var(--main-textcolor);
	background-color: var(--main-bgcolor);
}

article {
	margin: 0.5rem;
	margin-bottom: 3rem;
}

h1 {
	margin: 0.1rem 0;
	font-size: min(3rem, 6vw);
}
h2 {
	margin: 1rem 0;
	font-size: 2rem;
	color: dimgray;
}

.timer {

}

.time-container {
	font-size: max(10vw, 5rem);
	font-family: "dseg";
	color: red;
}

.time {
	border: none;
	width: max(20vw, 10rem);
	font-size: max(10vw, 5rem);
	font-family: "dseg";
	color: red;
	text-align: center;
}

.controler {
	font-size: 2rem;
	margin: 0.5rem auto;
	padding: 10px 1rem;
	min-width: 100px;
	background-color: lightgrey;
	/* border: 1pt solid black; */
	border: none;
	border-radius: 5%;
}

#settings {
	background-color: #fff0f0;
}

#settings input {
	font-size: 1rem;
	border: 2px solid lightgray;
	margin: 0.5rem;
	padding: 0.1rem;
}

.crypt {
	border: none;
	font-size: 3rem;
	color: darkgreen;
	text-align: center;
}

.decrypted-code {
	border: 2px solid lightgray;
	padding: 1rem;
	width: 30vw;
	margin-bottom: 1rem;
	font-size: 3rem;
	color: darkblue;
	text-align: center;
}

.keys {
	width: 2rem;
}

#convTable {
	text-align: center;
	margin: 0 auto;
}
/* 
#left {
	float: left;
}

#right {
	float: right;
}

#float-clear {
	clear: both;
} */

.main {
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width: 1080px) {
	.main {
		display: block;
	}
	.decrypted-code {
		width: 80vw;
	}
}
